
body {
    margin: 0;
    padding: 0;
}

.main-div {
    background-color: rgb(186, 175, 175);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    
}